.button {
  font: inherit;
  background: #521751;
  color: white;
  border: 1px solid #521751;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin: 0 1rem;
  cursor: pointer;
}

.button:disabled {
  background: lightgray;
  border: 1px solid lightgray;
  color: darkgrey;
  cursor: default;
}
