<div>
  <h1>Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <!-- Fake input to handle autofill -->
    <input style="display:none" type="password" name="fakepasswordremembered" />

    <!-- Username input -->
    <label for="username">Username</label>
    <input type="text" id="username" formControlName="username" />
    <span *ngIf="isControlInvalid('username')" class="error"
      >Username is required.</span
    >
    <span *ngIf="!isControlInvalid('username')" class="hint"
      >Enter your username.</span
    >

    <!-- Password input -->
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      autocomplete="new-password"
    />
    <span *ngIf="isControlInvalid('password')" class="error"
      >Password is required.</span
    >
    <span *ngIf="!isControlInvalid('password')" class="hint"
      >Enter your password.</span
    >

    <span class="button-container">
      <button class="button" type="submit" [disabled]="!loginForm.valid">
        Login
      </button>
    </span>
  </form>
</div>
