<div>
  <h1>Login</h1>
  <form novalidate [formGroup]="loginForm" (ngSubmit)="login()">
    <input style="display:none" type="password" name="fakepasswordremembered" />

    <label for="username">Username</label>
    <input type="text" id="username" formControlName="username" />
    <span *ngIf="isControlInvalid('username')" class="error"
      >Please, enter a username.</span
    >

    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      autocomplete="new-password"
    />
    <span *ngIf="isControlInvalid('password')" class="error"
      >Please, enter a password.</span
    >

    <span class="button-container">
      <button class="button" type="submit">Login</button>
    </span>
  </form>
</div>
