<div class="row">
  <form
    class="control-panel"
    [formGroup]="productsForm"
    (ngSubmit)="addProduct()"
  >
    <div class="input-container">
      <label for="product-name" id="product-name-label">Product Name</label>
      <input type="text" id="product-name" formControlName="name" />
      <span
        *ngIf="isControlInvalid('name')"
        class="error"
        id="product-name-error"
        >{{ getControlErrors("name") | errorMessage }}</span
      >
    </div>

    <div class="input-container">
      <label for="product-quantity" id="product-quantity-label">Quantity</label>
      <input type="number" id="product-quantity" formControlName="quantity" />
      <span
        *ngIf="isControlInvalid('quantity')"
        class="error"
        id="product-quantity-error"
        >{{ getControlErrors("quantity") | errorMessage: 100 }}</span
      >
    </div>

    <button
      type="submit"
      class="button"
      id="add-product-button"
      [disabled]="!productsForm.valid"
    >
      Add Product
    </button>
  </form>

  <div class="button-container">
    <button class="button" id="logout-button" (click)="logout()">Logout</button>
  </div>
</div>

<hr />

<section class="shopping-list-output">
  <h3 id="shopping-list-title">Shopping List</h3>

  <ul class="shopping-list" id="shopping-list">
    <li *ngFor="let product of products" class="shopping-item">
      <span scratchText class="shopping-item-text"
        >Product: {{ product.name | titlecase }}, Quantity:
        {{ product.quantity }}</span
      >
      <span class="close-button" (click)="deleteProduct(product)">×</span>
    </li>
  </ul>
</section>
