<div class="row">
  <form
    class="control-panel"
    [formGroup]="productsForm"
    (ngSubmit)="addProduct()"
  >
    <div class="input-container">
      <label for="name">Product Name</label>
      <input type="text" id="name" formControlName="name" />
      <span
        *ngIf="
          !productsForm.get('name').valid && productsForm.get('name').dirty
        "
        class="error"
        >{{ isControlInvalid("name") | errorMessage }}</span
      >
    </div>

    <div class="input-container">
      <label for="quantity">Quantity</label>
      <input type="number" id="quantity" formControlName="quantity" />
      <span *ngIf="isControlInvalid('quantity') as error" class="error">{{
        error | errorMessage: "100"
      }}</span>
    </div>

    <button
      type="submit"
      class="button"
      id="btnAddProduct"
      [disabled]="!productsForm.valid"
    >
      Add Product
    </button>
  </form>

  <div class="button-container">
    <button class="button" (click)="logout()">
      Logout
    </button>
  </div>
</div>

<hr />

<section class="shopping-list-output">
  <h3>Shopping List</h3>

  <ul class="shopping-list">
    <li *ngFor="let product of products" class="shopping-item">
      <span scratchText class="shopping-item-text"
        >Product: {{ product.name | titlecase }}, Quantity:
        {{ product.quantity }}</span
      >
      <span class="close-button" (click)="deleteProduct(product)">×</span>
    </li>
  </ul>
</section>
